@media (min-width:1200px){

}
@media (max-width:1199px){
/*********************************************** home module menu***************************************************/
.module-menu .column{
	padding:0;
}
.module-menu p {
  font-size: 14px;
}
.panel-header a {
    font-size: 18px;
}
.module-menu strong {
    font-size: 24px;
    margin-top:20px;
}
.module-menu  span {
    font-size: 16px;

}
.module-menu img{
   height:90px;
}
.module-menu {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,ededed+30,ededed+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(237,237,237,1) 39%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 39%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 39%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}


/*********************************************** home rates section***************************************************/
.home-best-rates .top-wrapper > img {
    right: 12%;
}
.home-best-rates .list-inline > li {
    width: 100px;
}
.home-best-rates .list-inline > li img{
height:50px !important;
width:auto !important;
}
.home-best-rates h3 {
    font-size: 18px;
}
.home-best-rates h1 {
    font-size: 28px;
}


/*********************************************** home country rates section***************************************************/

.home-international-calls h1 {
    font-size: 28px;

}
.home-international-calls p {
    margin-bottom: 20px;
}

/*********************************************** home bundles section***************************************************/
.quicktabs-wrapper .node-bundles {
width:970px;
}
.home-freecredit-section  .credit-banner{
width:100%;
}
.home-freecredit-section h4 {
    font-size: 22px;
}
.home-freecredit-section span {
    font-size: 18px;
}
.home-freesim-section img {
    position: absolute;
    top: -30px;
    right: 35px;
    height: 110px;
}
.home-freesim-section a {
    font-size: 23px;
    width:auto;
    border-radius: 10px;
}
.vendor-section img{width:100%;}
.home-freesim-section {
    padding-top: 55px;
    padding-bottom: 55px;
}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;

}
.offers-section .offers-overview-section .views-row a {
    font-size: 22px !Important;
}
.offers-section .offers-overview-section .panel-footer p {
    font-size: 16px;
}
.features-operator-section p {
    font-size: 16px;
}
.seo-sim-section .panel-body {
    padding: 25px;
}
.cheap-calls-rate {
    min-height: 540px;
}
}

@media (min-width:992px){

/***********************************************navigation menu***************************************************/
.phone {display:none !important;}
#navbar .nav .dropdown-menu li {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition: opacity .6s, -webkit-transform .7s;
    -moz-transition: opacity .6s, -moz-transform .7s;
    -ms-transition: opacity .6s, -ms-transform .7s;
    -o-transition: opacity .6s, -o-transform .7s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51337b+0,73559d+100 */
	background: rgb(81,51,123); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(81,51,123,1) 0%, rgba(115,85,157,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(81,51,123,1) 0%,rgba(115,85,157,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(81,51,123,1) 0%,rgba(115,85,157,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51337b', endColorstr='#73559d',GradientType=1 ); /* IE6-9 */
    text-align: left;
}
#navbar .nav li:hover .dropdown-menu {
	max-height:1000px;
}
#navbar .nav .dropdown-menu {
    background:transparent;
	border:0;
	box-shadow: none;
	max-height: 0;
	display: block;
	padding:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	
}
#navbar .nav .dropdown-menu li:hover a ,#navbar .nav .dropdown-menu li:focus a ,#navbar .nav .dropdown-menu li.active a{
   border-left: 3px solid #72559F; 
    border-radius: 0;
    color: #fff;
	background-color:#512275;
}
#navbar .nav .dropdown-menu li:first-child a {
	border-top-right-radius:3px;
	border-top-left-radius:3px;

}
#navbar .nav .dropdown-menu li:last-child a {
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;

}
#navbar .nav > li:hover .dropdown-menu, #navbar .nav > li:focus .dropdown-menu{
    max-height: 2000px;
    z-index: 10;
}
#navbar .nav > li:hover .dropdown-menu li, #navbar .nav > li:focus .dropdown-menu li {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
	text-align: left;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(1) {
    -webkit-transition-delay: 10ms;
    -moz-transition-delay: 10ms;
    -ms-transition-delay: 10ms;
    -o-transition-delay: 10ms;
    transition-delay: 10ms;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(9) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(10) {
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -ms-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}
#navbar .nav li:hover .dropdown-menu li:last-child{
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}
#navbar .dropdown-menu li:nth-child(1) {
    -webkit-transition-delay: 45ms;
    -moz-transition-delay: 45ms;
    -ms-transition-delay: 45ms;
    -o-transition-delay: 45ms;
    transition-delay: 45ms;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
#navbar .dropdown-menu li:nth-child(2) {
    -webkit-transition-delay: 40ms;
    -moz-transition-delay: 40ms;
    -ms-transition-delay: 40ms;
    -o-transition-delay: 40ms;
    transition-delay: 40ms;
}
#navbar .dropdown-menu li:nth-child(3) {
    -webkit-transition-delay: 35ms;
    -moz-transition-delay: 35ms;
    -ms-transition-delay: 35ms;
    -o-transition-delay: 35ms;
    transition-delay: 35ms;
}
#navbar .dropdown-menu li:nth-child(4) {
    -webkit-transition-delay: 30ms;
    -moz-transition-delay: 30ms;
    -ms-transition-delay: 30ms;
    -o-transition-delay: 30ms;
    transition-delay: 30ms;
}
#navbar .dropdown-menu li:nth-child(5) {
    -webkit-transition-delay: 25ms;
    -moz-transition-delay: 25ms;
    -ms-transition-delay: 25ms;
    -o-transition-delay: 25ms;
    transition-delay: 25ms;
}
#navbar .dropdown-menu li:nth-child(6) {
    -webkit-transition-delay: 20ms;
    -moz-transition-delay: 20ms;
    -ms-transition-delay: 20ms;
    -o-transition-delay: 20ms;
    transition-delay: 20ms;
}
#navbar .dropdown-menu li:nth-child(7) {
    -webkit-transition-delay: 15ms;
    -moz-transition-delay: 15ms;
    -ms-transition-delay: 15ms;
    -o-transition-delay: 15ms;
    transition-delay: 15ms;
}
#navbar .dropdown-menu li:nth-child(8) {
    -webkit-transition-delay: 10ms;
    -moz-transition-delay: 10ms;
    -ms-transition-delay: 10ms;
    -o-transition-delay: 10ms;
    transition-delay: 10ms;
}
#navbar .dropdown-menu li:nth-child(9) {
    -webkit-transition-delay: 5ms;
    -moz-transition-delay: 5ms;
    -ms-transition-delay: 5ms;
    -o-transition-delay: 5ms;
    transition-delay: 5ms;
}
#navbar .dropdown-menu li:nth-child(10) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
#navbar .navbar-nav > li > a {
	background-color:transparent;
}
.social-media{
display:none;
}

}



@media (max-width:991px){
.panel-heading {
    padding: 15px 30px 15px 30px !important;
}
.panel-default > .panel-heading {
    font-size: 20px !important;
}
/********** common **********/
.table_1 > tbody > tr > td {
    font-size: 22px;
}
.table-wrapper h1 {
    font-size: 18px;
}
.table_1 > thead > tr > th {
    font-size: 14px;
}
.table_1 > tbody > tr > td:last-child {
    font-size: 14px;
    font-family: 'helvitca-bold';
    color: #fff;
    text-align: center;
}
.table_1 > tbody > tr + tr{
border-top:1px solid #ccc;
}
#div-international-rates h2 {
    margin-bottom: 10px;
    font-family: 'helvitca-bold';
    color: #73559e;
    font-size: 24px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

/********** end common **********/

.social-media .bottom a{
cursor:pointer;
}
 #navbar .container{
position:relative;
} 
#navbar .navbar-nav {
    margin:0px 0 20px 0;
}
#navbar .navbar-collapse{
position:absolute;
width:100%;	
z-index:9999;
top:157px;
max-height:initial;
border-color: transparent;
}
#navbar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color:#fff;
    border-right: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
    box-shadow: none;
	border-radius:0;
	border: 0;
}
#navbar .navbar-nav .open .dropdown-menu  li a {
    color: #73559e;
    font-family: 'helvitca-light';
    font-size: 16px;
    border-left: 3px solid transparent;
    padding: 6px 20px 6px 20px;
}
#navbar .navbar-nav .open .dropdown-menu  li a:hover ,#navbar .navbar-nav .open .dropdown-menu  li a.active,#navbar .navbar-nav .open .dropdown-menu  li a:focus{
    color: #fff;
	font-family:'helvitca-bold';
	background:#009fe3 !important;
}
#navbar .navbar-nav  li.open a.active {
    font-family: 'helvitca-bold';
    background:#575756;
}

#navbar .navbar-nav > li > a {
    border-bottom: 1px solid #fff;
    display: block;
    text-align: left;
	color: #fff;
    background: rgba(115,85,159,0.9);
    background: rgba(94,67,131,0.9);
    background: -moz-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,67,131,1)), color-stop(100%, rgba(131,106,166,0.9)));
    background: -webkit-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -o-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -ms-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: linear-gradient(to right, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4383', endColorstr='#836aa6', GradientType=1 );
}
#navbar .navbar-nav > li.last > a {
    border-bottom:0;
}
#navbar .navbar-collapse.in {
    overflow-y: visible;
}
#navbar .navbar-nav > li > a {
    padding:12px 25px 12px 25px;
}
#top-bar.navbar-inverse .menu > li > a,#top-bar.navbar-inverse .menu > li > a:hover,#top-bar.navbar-inverse .menu > li > a:focus  {
    padding: 3px 15px 3px 15px;
    margin: 0;
	font-size:16px;
}
#top-bar .menu  {
	margin-top:8px;
}
#home_page_slider .nivoSlider{
margin-bottom:0;
}

/*********** module-menu*****************/

.module-menu p {
    margin-bottom:45px;
}
 .column{
margin-bottom:20px;
}
.module-menu {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 18%, #ededed 18%, #ededed 50%, #ffffff 50%, #ffffff 68%, #ededed 68%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#ededed 18%,#ededed 50%,#ffffff 50%,#ffffff 68%,#ededed 68%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 18%,#ededed 18%,#ededed 50%,#ffffff 50%,#ffffff 68%,#ededed 68%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
padding:0;
}
.panel-header {
    margin-top: 20px;
	margin-bottom:5px;
}
.module-menu p {
    font-size: 15px;
}
/*********** home rates section*****************/

.home-best-rates .top-wrapper > img {
    right: 0;
	height: 56px;
}
.order-section p {
    font-size: 18px;
}
.home-best-rates h3 {
    font-size: 14px;
}
.home-best-rates p {
    font-size:10px;
}
.home-best-rates .list-inline > li img {
    height: 35px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 70px;
}
.home-international-calls .form-item {
    width: 450px;
}
.home-international-calls .form-control {
    font-size: 16px;
	height:32px;
	}
.home-international-calls .form-item::after {
    right: 14px;
    top: 11px;
    border-top: 10px #706e6f solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}


.top-bundle-section .field {
    color: #fff;
    font-size: 30px;
    font-family: 'helvitca-bold';
	padding: 2px;
}

.body-bundle-section .field {
 font-size: 24px;
}
.body-bundle-section span {
    font-size: 14px;
}
.bottom-bundle-section span {
    font-size: 12px;
    line-height: 1;
}
.quicktabs-wrapper .node-bundles {
    width: 750px;
}
.quicktabs-wrapper  .field-collection-view {
    margin: 0 10px;
}
.quicktabs-wrapper h2 a {
    color: #29235c;
    font-family: 'helvitca-bold';
    font-size: 24px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    font-size: 16px;
}
.home-freecredit-section ul li img{
height:105px;
width:auto;
}
.home-freecredit-section h4 {
  font-size: 20px;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    width: 120px;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 120px;
}
.home-freecredit-section span {
    font-size: 14px;
}
.home-freecredit-section .list-inline {
    padding-left: 10px;
    padding-right: 10px;

}
.home-freesim-section a {
    font-size: 22px;
    width:auto;
}
#vendor-section{
    padding: 25px 0 25px 0;
}
.home-freecredit-section .list-inline {
   margin-top: 0;
   margin-bottom: 20px;
}
.free-credit-panel{
margin-top:20px;
}
.home-freesim-section img {
    position: absolute;
    top: -27px;
    right: 25px;
    height: 98px;
}
.home-international-calls p {
    font-size: 16px;

}
.home-topup-section ul li img{
height:120px;
width:auto;
}
.home-topup-section strong {
    font-size: 14px;
}
.home-topup-section span {
    font-size: 12px;
}
.home-topup-section ul > li {
    padding-right: 15px;
    padding-left: 15px;

}
/**********************rates-page*********************************/
.international-rates p {
 margin-bottom: 25px;
}
.international-rates {
padding-left: 15px;
padding-right: 15px;
}
.international-rates li p {
 margin-bottom: 10px;
}
.international-rates h3 {
    margin-top: 10px;
}
.national-rates .panel-body {
    padding: 45px;
}
.table_rates > tbody > tr > td {
    padding: 25px 10px 25px 10px;
}
.roaming-rates .form-item {
    width: 450px;
}
.roaming-rates .form-control {
    font-size: 16px;
    height: 32px;
}
.roaming-rates .form-item::after {
    right: 14px;
    top: 11px;
    border-top: 10px #706e6f solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.table_2 tbody td {
    width: auto;
	font-size: 3vw;
    font-family: 'helvitca-medium';
}
.table_2 tbody td:first-child {
    width: 180px;
}
.roaming-result h2 {
    margin:0 0 10px 0;
}
.roaming-rates {
    margin-top: 25px;
}
.roaming-steps p {
    font-size: 12px;
}
.roaming-steps p:last-child {
    margin-bottom:0px;
}
.roaming-steps h3 {
margin-top:5px;
}
.roaming-details {
    padding: 35px 15px 35px 15px;
}
.roaming-steps img {
    margin-bottom: 20px;
    margin-top: 10px;
}
/********************bundles pages**************************************/
.bundles-section .list-inline {
    width: 100%;
    display: block;
	background: #fff;
}
.bundles-section .list-inline li.first {
    background: #73559e;
    width: 100%;
    border: 0;
    border-right: 0;
    position: relative;
	height:auto;
	display:table;
	table-layout:fixed;
	padding: 0 35px 0 35px;
}
.bundles-section .list-inline li.first .content {
	display:table-cell;
	vertical-align:middle;
}
.bundles-section .list-inline li.first .content:first-child{
text-align:left;
}
.bundles-section .list-inline li.first .content:last-child{
text-align:right;
}
.bundles-section .list-inline li.first h2 {
    font-size: 60px;
	margin-top: 10px;
	margin-bottom:0;
}
.bundles-section .list-inline li.first .field-name-field-vectone-customer {
    margin-bottom: 10px;
}
.bundles-section .list-inline li strong {
    font-size: 36px;
}
.bundles-section .list-inline li:last-child {
    border-right: 14px solid #fff;
}
.bundles-section .list-inline li + li {
    border-top: 14px solid #fff;
    border-bottom:14px solid #fff;
}
.bundles-section .list-inline li {
    border-top: 14px solid #fff;
    border-bottom:14px solid #fff;
}
.offers-section .offers-overview-section .views-row a {
    font-size: 20px !Important;
}
.free-vectone{
text-align:center;
}
.free-vectone .panel-body  p{
margin-top:20px;
}
.offer-free-sim-section {
    padding: 35px 30px 35px 30px;
}
.flags-offer li {
    width: 100px;
    vertical-align: top;
}
.offers-section .refer-friend ul li strong {
    font-size: 16px;
	margin-top:20px;
}
.offers-section .refer-friend ul li {
    width: 32.9%;
    vertical-align: bottom;
    min-height: 158px;
}
.android-app .panel-body {
    padding: 35px 20px 35px 20px;
}
.android-options span {
    display: block;
    width: 100%;
    float: none;
    text-align:center;
    margin-bottom: 15px;
}
.android-options .col-sm-6 {
    min-height: 300px;
    padding: 35px;
}
#div-operators-list {
    padding: 30px 20px 30px 20px;
}
.main-container section.col-sm-9{
width:100%;
}
.support-overview-section .views-row {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    display: block;
}
#sitemap-section .panel-body {
    padding: 30px 25px  30px 25px;
}
.legal-pages .field-type-text-with-summary .field-item p {
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
}
.legal-pages .field-type-text-with-summary .field-item p strong {
    color: #706f6f;
    font-family: "helvitca-bold";
    font-weight: 400;
    font-size: 16px;
}
.legal-pages .page-header {
    font-size: 30px !important;
    padding-left: 10px;
}
#sitemap-section ul.menu > li {
    width:33.333%;
}
.legal-pages .dropdown-menu > li > a, .legal-pages .dropdown-menu > li > a:hover, .legal-pages .dropdown-menu > li > a:focus {
	white-space: normal;
}
#header_banner.banner-cheapcall-rates .vm-title h1 {
    font-size: 36px;
    margin-top: 20px;
	margin-bottom:0;
}
#header_banner.banner-cheapcall-rates .vm-title strong {
    margin-top:0;
}
.seo-sim-section {
 margin-top: 5px;
}
#header_banner.banner-cheapcall-rates {
    height:auto;
}
#header_banner.banner-cheapcall-rates img {
    height: auto;
    position: relative;
    width: 100%;
}
.cheap-calls-rate h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.cheap-calls-rate ul li {
    width: 100%;
    float: none;
}
.cheap-calls-rate li h1 {
    font-family: "helvitca-medium";
    font-size: 48px;
}
.cheapcall_flag {
    margin-top: 20px;
}
.cheapcall_flag img {
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
}
.seo-sim-section .form-control {
font-size: 18px;
}
.cheap-calls-rate {
    min-height: 700px;
}
.features-section .supporting-county-section ul li {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 115px;
}
}

@media (max-width:991px) and (min-width:768px){

#navbar .navbar-collapse{
 width: 320px;
 right:15px;
margin-right:-15px;
margin-left:-15px;
}
#navbar .navbar-collapse nav{
 width:100%;
}
#navbar .navbar-nav {
    margin:0px 0 20px 0;
	box-shadow:-5px 1px 8px #575756;
}
#header_banner {
    position: relative;
    height: 325px;
    overflow: hidden;
}
#header_banner img {
    margin: 0 auto;
    display: block;
    width: inherit;
    position: absolute;
    right: 0;
    height: 325px;
    z-index: 0;
}
#header_banner > .container.title-banner {
z-index:1;
}
.vm-title {
    width: 60%;
    padding-left: 2%;
}
.vm-title h1 {
    font-size: 30px;
    margin-top: 45px;
}
.vm-title strong {
    font-size: 20px;
    margin-top: 30px;
}
.vm-title p {
    font-size: 14px;
    font-family: "helvitca-light";
    color: #fff;
    margin-top: 25px;
}
}

/************max-width:767px************/

@media (max-width:767px){
.panel-heading {
    padding: 15px 15px  15px 15px!important;
}
.panel-default > .panel-heading {
    font-size: 20px !important;
}
.main-container {
    padding-top: 15px;
}
.international-rates p {
    font-size: 14px;
}
.table_1 > tbody > tr > th {
    font-size: 14px;
    font-family: 'helvitca-medium';
}
.table_1 > thead > tr > th {
    font-size: 12px;
}
.table_1 > tbody > tr > td {
    font-size: 18px;
}
.table_1 > tbody > tr:first-child > td {
    width: 80px;
}
.table_1 > tbody > tr > td a {
    padding: 5px 25px 5px 25px;
}
.table_1 > tbody > tr > td:last-child {
    font-size: 12px;
}
#navbar .navbar-nav > li > a {
    padding: 10px 20px 10px 20px;
}
#navbar .navbar-nav > li > a {
font-size: 16px;
}
#navbar .navbar-collapse {
    top: 142px;
	right: 15px;
	left: 15px;
	width:inherit;
}
#top-bar.navbar {
	margin-bottom:0;
    margin-left: -15px;
    margin-right: -15px;
	padding-left: 10px;
	padding-right: 10px;
}
.logo img{
height:65px;
}
#top-bar.navbar-inverse .menu > li > a, #top-bar.navbar-inverse .menu > li > a:hover, #top-bar.navbar-inverse .menu > li > a:focus {
font-size: 15px;
}
.top-menu {
    padding-right: 5px;
}
#navbar .container > .navbar-collapse{
margin-left:-15px;
margin-right:-15px;
padding:0;
}
#home_page_slider{
margin-top:15px;
}

.module-menu {
background: transparent; 
/* background: #ededed; 
background: -moz-linear-gradient(top,  #ededed 0%, #ededed 25%, #ffffff 25%, #ffffff 50%, #ededed 50%, #ededed 75%, #ffffff 75%, #ffffff 100%); 
background: -webkit-linear-gradient(top,  #ededed 0%,#ededed 25%,#ffffff 25%,#ffffff 50%,#ededed 50%,#ededed 75%,#ffffff 75%,#ffffff 100%); 
background: linear-gradient(to bottom,  #ededed 0%,#ededed 25%,#ffffff 25%,#ffffff 50%,#ededed 50%,#ededed 75%,#ffffff 75%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );  */
}
.module-menu strong {
    margin-top: 15px;
}
.module-menu a, .module-menu a:hover {
    padding-right: 0;
    padding-left: 0;
}

.module-menu .column {
    padding: 0;
    width: 100%;
	padding:20px 0 20px 0;
	margin-bottom:0;
}
.module-menu .column:nth-child(odd){
	background:#ededed;
}
.panel-header {
    margin-top:0 !important;
    margin-bottom: 5px;
}
.panel-header a {
    font-size: 16px;
}
.module-menu p {
    font-size: 14px;
}
.module-menu img {
    height: 80px;
}
.home-best-rates .top-wrapper > img {
    right: 0;
    height: 45px;
    top: -10px;
}
.home-best-rates h4 {
    font-size: 16px;
}
.table-wrapper .container{
padding:0 30px 0 30px;
}

.quicktabs-wrapper .node-bundles {
    width: 100%;
} 
.quicktabs-wrapper .field-collection-view {
    margin: 0;
	padding:10px 0 0 0;
}
.quicktabs-wrapper .field-collection-container > .field > .field-items > .field-item {
    width: 100%;
    float: left;
    display: block;
}
.quicktabs-wrapper .entity-field-collection-item {
    background: #fff;
	display:table;
	height: 110px;
}
.table-wrapper h1 {
    font-size: 18px;
    text-align: center;
}
.home-freecredit-section .list-inline {
width:80%;
margin:0 auto 20px auto;
float:none;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    float: right;
	text-align:left;
	width: 73%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    float: left;
	width: 27%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 27%;
}
.home-freecredit-section ul li img {
    height: 95px;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
   width: 73%;
}
.home-freesim-section img {
 display:none;
}
.home-freesim-section a {
    width: auto;
    text-align: center;
    padding:8px 45px 8px 45px;
}
.home-best-rates li > span {
    font-size: 30px;
}
.footer div[class*='col-']{
padding:0;
}
.footer .menu > li .caret{
float:right;
font-size: 26px
}
.footer .menu > li{
border-top:1px solid #9680b6;
}
.footer #block-menu-menu-freesim-topup .menu > li:first-child{
border-top:0;
}
.footer .nav > li > a, .footer .nav > li > a:hover, .footer .nav > li > a:focus {
    padding: 6px 15px 8px 15px;
    line-height:normal;
}
.footer .dropdown-menu {
position:relative;
width:inherit;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f3279+0,73559e+100,73559e+100 */
background: #4f3279; /* Old browsers */
background: -moz-linear-gradient(left,  #4f3279 0%, #73559e 100%, #73559e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #4f3279 0%,#73559e 100%,#73559e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #4f3279 0%,#73559e 100%,#73559e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3279', endColorstr='#73559e',GradientType=1 ); /* IE6-9 */
float: none;
border:0;
border-radius:0;
box-shadow:initial;
padding-left: 30px;
padding-right: 30px;
margin: 0 -15px;
}
.footer .dropdown-menu a{
    font-size: 14px;
	padding-top: 3px;
    padding-bottom: 3px;
}
 .footer .dropdown-menu a:hover, .footer .dropdown-menu a:focus {
 font-family:helvitca-bold;
 }
 #vectone_copyright_section{
 text-align:center;
 }
 #block-copyright-block-copyright-block {
    float: none;
	font-family:helvitca-regular;
	font-size:14px;
}
#vectone_copyright_section ul li a {
    color: #fff;
	font-family:helvitca-regular;
	font-size:14px;
	padding: 2px 8px 2px 8px;
}
#vectone_copyright_section ul li {
  border-right:1px solid #fff;
}
#vectone_copyright_section ul li:last-child{
  border-right:0;
}
#block-menu-menu-legal-menu-links {
    float: none;
	margin:10px 0 20px 0;
}
.home-topup-section ul > li {
    padding-right: 5px;
    padding-left: 5px;
}
.column .col-xs-6{
display:table-cell;
float:none;
vertical-align: middle;
}
.home-best-rates h3 {
    font-size: 18px;
}
.home-best-rates p {
    font-size: 13px;
}
.home-best-rates li > span {
    font-size: 35px;
}
.home-best-rates .list-inline > li img {
    height: 50px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 100px;
}
.home-best-rates h4 span{
display:block;
}
.home-freesim-section a {
    font-size: 18px;
}
.module-menu strong {
    font-size:18px;
    margin-top:15px;
}
.module-menu span {
    font-size: 14px;
}
.module-menu p {
    margin-bottom: 0 !important;
}
.table_rates {
    width:50% !important;
    float: left;
}
.table_1 > thead > tr > td, .table_1 > tbody > tr > td, .table_1 > tfoot > tr > td {
    border: 0;
	padding:5px;
}
.table_2 tbody td:last-child {
    width: auto;
}
.table_2 tbody td:first-child {
    width: auto;
}
.table_2 tbody td {
    width: auto;
	font-size:3.5vw;
}
.roaming-result h2 {
    font-size: 14px;
}
.home-international-calls .form-item {
    margin: 0 auto 0 auto;
}
.roaming-rates .form-item {
    margin: 0 auto 0 auto;
}
.home-international-calls .form-control {
    font-size: 14px;
    height: 28px;
}
.roaming-rates .form-control {
    font-size: 14px;
    height: 28px;
}
.roaming-result {
    padding:30px 20px  30px 20px;
    background: #fff;
}
.roaming-steps{
padding:0 60px 0 60px;
}
.roaming-details{
padding: 35px 60px 35px 60px;
}
.bundles-section .list-inline li.first {
    padding:0 15px 0 15px;
}
.bundles-section .list-inline li strong {
    font-size: 24px;
}
.bundles-section .list-inline li span {
   font-size: 16px;
}
.bundle-content {
    padding: 15px;
}
.bundles-section .field-collection-container {
   padding:0 15px 0 15px;
}
.bundle-content ul li {
    font-size: 12px;
}
.bundle-content p{
    font-size: 12px;
}
.bundles-section .list-inline li.first .content {
    display: block;
}
.bundles-section .list-inline li.first .content:last-child {
    text-align:center;
}
.bundles-section .list-inline li.first .content:first-child {
    text-align:center;
}
.offers-section .offers-overview-section .views-row a {
    font-size:24px !Important;
}
.offers-section .offers-overview-section .panel-footer p {
    font-size: 18px;
}
.offers-section .offers-overview-section .panel-footer {
    min-height:inherit;
    padding: 20px 30px  20px 30px;
}
.free-vectone  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    width: 90px;
	margin-bottom: 15px;
}
.offer-free-sim-section span{
display:block;
}
.offer-free-sim-section p a{
display:block;
}
.offer-free-sim-section {
    padding:30px 30px 30px 30px;
}
.offers-free-vectone-calls .block-title {
    font-size: 24px;
}
.offers-section .panel-body {
    padding:25px;
}
.flag-container {
    background: #fff;
    padding:20px;
}
.offers-section .refer-friend ul li {
    width: 100%;
    vertical-align: bottom;
    min-height:inherit;
    display: block;
	border-right:0;
	padding-bottom: 15px;
	float:left;
}
.offers-section .refer-friend ul li + li{
	border-top:1px solid #ccc;
	padding-top: 15px;
	
}
.offers-section .refer-friend ul li article {
    display: block;
    width: 50%;
    float: left;
}
.offers-section .refer-friend ul li article:nth-child(2) {
text-align:left;
}
.refer-options {
    padding: 25px;
}
.features-overview-section .panel-heading a {
    font-size: 20px !Important;
}
.features-overview-section .panel-footer p {
    color: #009fe3;
    font-family: "helvitca-light";
    font-size: 16px;
}
.features-overview-section .panel-footer {
    min-height: inherit;
    padding: 10px 10px 20px 10px;
}
.android-options h1 {
    float: none;
}
.android-options article {
text-align:center;
float:none;
}
.android-options .col-sm-6 {
    min-height: 240px;
    padding: 35px;
}
.android-details ul li {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.android-details ul{
    display: table;
}
.android-details ul li:first-child{
    width: 30%;
    text-align:right;
	padding-left:15px;
}
.android-details ul li:last-child {
    width:inherit;
    text-align: left;
}
.features-operator-section .panel-body .list-inline > li:first-child {
    border-right:0;
	margin-bottom:10px;
}
.features-operator-section .panel-body .list-inline > li {
    display: block;
}
.features-operator-section .panel-body .list-inline > li:last-child {
    border-left:0;
}
.roaming-rates h1 {
    font-size: 20px;
}
#webform-section .field-name-field-support-description {
padding-top:0;
color: #009fe3;
font-family: "helvitca-light";
font-size: 16px;
padding-bottom: 10px;
}
.contact .panel-body {
    padding: 20px;
}
.write .panel-body {
    padding: 20px;
}
.contact p {
    font-size: 16px;
}
.write p {
    font-size: 16px;
}
.topup-locations p{
font-size:14px;
}
.faq-section .panel-body {
    padding: 15px;
}
.faq-section .field-type-text-with-summary {
    width: 100%;
    display: block;
    font-size: 18px;
}
.faq-section .field-name-field-support-icons {
    width: 100%;
    display:block;
	text-align:center;
}
.faq-section .field-name-field-support-icons img {
    display:inline-block;

}
.faq-section .ui-state-default a, .faq-section .ui-state-default a:link, .faq-section .ui-state-default a:visited {
    font-size: 16px;
}
.faq-section .ui-accordion .ui-accordion-header {
    padding: 20px;
}
.faq-section .faqfield-answer {
    font-size: 16px;
}
#sitemap-section ul.menu > li {
    width:50%;
}
.legal-pages .field-type-text-with-summary .field-item {
    font-size: 16px;
}
#header_banner.banner-cheapcall-rates {
    height:auto;
	background:#009fe3;
}
#header_banner.banner-cheapcall-rates .vm-title h1 {
    margin-top: 30%;
}
#header_banner.banner-cheapcall-rates img {
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
}
#header_banner.banner-cheapcall-rates > .container {
    position: relative;
}
.cheap-calls-rate ul li {
    width: 50%;
    float: left;
}
.cheap-calls-rate {
    min-height: inherit;
	padding:25px 0 25px 0;
}
.cheapcalls-details{
text-align:center;
}
.cheapcalls-details strong {
    margin-bottom: 15px;
    display: block;
}
.page-node-39 .field-name-field-bundle-rates > .field-items > .field-item {
    width: 100%;
}
.page-node-39 .field-name-field-bundle-rates > .field-items > .field-item + .field-item .field-collection-view {
    margin-left: 0;
}
#div-operators-list li {
    display: block;
    width: 31.2%;
}
.home-topup-section ul li img {
    height: 95px;
    width: auto;
}
.home-topup-section ul li {
margin-bottom:10px;
}
.roaming-rates h1 {
    font-size: 20px;
}
.features-section .supporting-county-section ul li {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 105px;
}
.llom-selection span {
    border-bottom: 0;
    margin-bottom: 0;
}
}
/****max-width:570px x min-width:480px ***** */

@media (max-width:570px) and (min-width:480px){
.top-bundle-section {
    width: 100px;
}
.body-bundle-section .field {
    font-size:20px;
}
.body-bundle-section span {
    font-size: 12px;
}
.quicktabs-wrapper .entity-field-collection-item {
    height: 95px;
}
.body-bundle-section article p {
    text-indent: -5%;
	font-size: 10px;
}
.body-bundle-section .content +.content:before {
font-size:24px;
}
.home-freecredit-section .list-inline {
    width: 90%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    width: 70%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 30%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
    width: 70%;
}
.home-international-calls .form-item {
    width: 80%;
}
.roaming-rates .form-item {
    width: 80%;
}
}
/****min-width:480px***** */
@media (min-width:480px){
.roaming-result h2 + img {
display:none;
}
.mobile-banner{
display:none !important;
}
}

/****max-width:479px***** */

@media (max-width:479px){
.panel-default > .panel-heading {
    font-size: 18px !important;
}
.logo img {
    height: 55px;
}
.social-media .fa {
    font-size: 13px;
    padding: 5px;
    width: 22px;
    height: 22px;
}
#top-bar.navbar-inverse .menu > li > a, #top-bar.navbar-inverse .menu > li > a:hover, #top-bar.navbar-inverse .menu > li > a:focus {
    padding: 3px 8px 3px 8px;
    font-size: 14px;
}
#header_banner {
    position: relative;
    height: auto;
}
#top-bar .menu {
    margin-top: 6px;
}
.desktop-banner{display:none !important;}
.vm-title h1 {
    font-size:6.5vw;
    margin-top:26%;
}
.vm-title {
    width: 96%;
    padding-left: 2%;
	padding-right: 2%;
}
.vm-title strong {
font-size: 4.5vw;
margin-top: 15px;
line-height: 1.2;
}
.vm-title p {
    font-size:3.5vw;
	margin-top:15px;
	    line-height: 1.2;
}
.navbar-toggle {
    margin-top: 4px !important;
    margin-right: 5px !important;
    margin-bottom: 4px !important;
}
#navbar .navbar-collapse {
    top: 124px;
}
.module-menu p {
    font-size: 12px;
}
.order-section {
    padding-top: 20px;
}
.home-best-rates .top-wrapper > img {
    right: 0;
	position:relative;
    top: -17px;
}
.home-best-rates {
/*     padding-top:0; */
    padding-bottom: 20px;
}
.home-best-rates h3 {
    font-size: 14px;
	margin-top: 10px;
}
.home-best-rates p {
    font-size: 12px;
}
.home-popular-bundles h2.block-title {
    font-size: 24px;
}
.home-best-rates .list-inline > li img {
    height: 40px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 93px;
}
.order-section p {
    font-size: 14px;
}
.home-international-calls p {
    font-size: 14px;
}
.home-best-rates h1 {
    font-size: 24px;
}
.home-international-calls .form-item {
    width: 95%;
}
.table_1 > tbody > tr > th {
display: block;
width: 100% !important;
text-align:center;
}
.table_1 > tbody > tr > td:last-child {
display: block;
width: 100% !important;

}
.table_1 > tbody > tr{
display:block;
width:100%;
}
.table_1 > thead > tr{
border-bottom:1px solid #ccc;
}
.table_1 > thead > tr > th:empty {
   display:none
}
.table_1  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0 !important;
    display: inline-block;
    width: 32.2%;
	text-align:center;
}
.table_1 > tbody > tr > td {
    vertical-align: bottom;
    border-bottom: 0;
    display: inline-block;
    width: 32% !important;
    text-align: center;
}
.table_1 > tbody > tr > td a {
    padding: 10px 25px  10px 25px;
}

.table-wrapper .container {
    padding: 0 20px 0 20px;
}
.home-popular-bundles {
    padding: 25px 15px 0px 15px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    margin-bottom: 10px;
	line-height: 1.5;
}
.top-bundle-section .visible-xs {
    display:none !important;
}
.body-bundle-section .visible-xs {
    display:none !important;
}
.top-bundle-section .field {
    color: #fff;
    font-size: 36px;
    font-family: 'helvitca-bold';
}
.body-bundle-section span {
    font-size: 18px;
}
.body-bundle-section .field {
    font-size: 30px;
}
.quicktabs-wrapper .field-collection-container .field-name-field-bundle-rates {
    padding: 10px;
}
.quicktabs-wrapper {
    margin: 0 -15px;
}
.home-freecredit-section .list-inline {
    width: 100%;
	margin: 0 auto 15px auto;
}
.home-freecredit-section .list-inline {
    padding-left: 0;
    padding-right: 0;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    width: 67%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    width: 33%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
    width:67%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 33%;
}

.home-freecredit-section ul li img {
    height: 85px;
}
.home-freecredit-section h4 {
    font-size: 18px;
}
.home-freecredit-section ul:first-child {
    background: #73559e;
	color:#fff;
}
.home-freecredit-section ul:nth-child(2) {
    background: #29235c;
	color:#fff;
}
.home-freecredit-section ul:nth-child(3) {
     background: #009fe3;
	 color:#fff;
}
.home-freecredit-section ul:nth-child(4) {
     background: #878787;
	 color:#fff;
}
.home-freecredit-section .list-inline {
    padding:10px 8px 10px 8px;
}
.home-freesim-section a {
    font-size: 30px;
	padding: 8px 20px 8px 20px;
	line-height:1.2;
}
.home-freesim-section a span{
display:block;
width:100%;
font-size: 18px;
line-height:1.2;
}
.home-freesim-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer .menu > li .caret {
    font-size: 20px;
}
.footer .dropdown-menu a, .footer .dropdown-menu a:hover, .footer .dropdown-menu a:focus {
    font-size: 12px;
}
#vectone_copyright_section ul li a {
    font-size: 12px;
}
.international-rates .form-item {
    width: 100%;
}
.international-rates h3 {
    font-size: 14px;
}
.international-rates .list-inline > li {
    width: 80px;
}
.bundle-selection {
    padding: 30px;
}
#div-international-rates .panel-body {
    padding: 15px;
}
#div-international-rates h2 {
    font-size: 18px;
}
.table_rates {
    width:100% !important;
    float: left;
}
.national-rates .panel-body {
    padding: 25px;
}
.bundle-content {
    padding:30px 15px 30px 15px;
}
.roaming-rates .form-item {
    width: 95%;
}
.home-international-calls h1 {
    font-size: 24px;
	margin-top: 0;
	margin-bottom:15px;
}
.roaming-rates h1 {
    font-size: 18px;
	margin-top: 0;
	margin-bottom:15px;
}
.roaming-rates {
    margin-top: 15px;
}
.table_2 th:empty{
display:none;
}
.table_2 tbody td:first-child{
display:none;
}
.roaming-result h2 + img {
margin: 0 auto;
display: block;
}
.table_2 tbody td {
    width: auto;
    font-size: 5vw;
}
.roaming-result h2 {
    text-align: center;
}
.roaming-details {
    padding: 35px 15px 35px 15px;
}
.roaming-steps {
    padding: 0 15px;
}
.bundles-section .list-inline li {
    display: block;
    padding: 2px;
    height:auto;
    float: left;
	padding:5px;
    width: 44%;
    margin: 4%;
	margin-bottom:2%;
	border:0 !important;
}
.bundles-section .list-inline article > li:first-child{
    display: block;
    padding: 2px;
    height:auto;
    float: left;
    width:92%;
    margin: 4%;
	margin-bottom:0;
	border:0 !important;
}
.bundles-section .list-inline li:nth-child(odd) {
    margin-left:2%;
}
.bundles-section .list-inline li:nth-child(even) {
    margin-right:2%;
}
.bundles-section .list-inline li.first{
   margin:0;
}
.bundles-section .list-inline {
 padding-bottom: 10px;
}
.offers-section .panel-heading {
    padding:5px 15px 5px 15px!important;
}
.offers-section  .views-row a {
    font-size: 20px !Important;
}
.offers-section  .panel-footer {
    min-height: inherit;
    padding: 0 20px 20px 20px;
}
.offers-section .panel-body {
    min-height:inherit;
    padding: 20px 10px 20px 10px;
}
.offers-section .panel-footer p {
    font-size: 14px;
}
.offers-section p {
    font-size: 14px;
}
.free-vectone .list-inline > li {
    width: 80px;
}
.offer-free-sim-section {
    padding:30px 0  30px 0;
}
.offer-free-sim-section .btn-blue {
    font-size: 18px !important;
}
.offers-free-vectone-calls .block-title {
    font-size: 20px;
}
.flags-offer li {
    width: 80px;
}
.offers-free-vectone-calls .panel img {
    margin: 0;
}
.offers-section .terms-conditions p {
    color: #29235c;
    font-size: 14px;
    font-family: 'helvitca-light';
}
.terms-conditions {
    padding: 15px 0;
}
.features-overview-section .panel-heading a {
    font-size: 18px !Important;
}
.features-overview-section .panel-heading  {
   padding:5px 15px 5px 15px !important;
}
.features-overview-section .panel-footer p {
    font-size: 14px;
}
.features-overview-section .panel-body {
    min-height: inherit;
    padding: 20px 10px 20px 10px;
}
.android-app .list-inline:first-child li:first-child img{
height:120px;
}
.android-app .list-inline:first-child li:last-child img{
height:130px;
}
.android-app .list-inline:last-child li:first-child img{
height:20px;
}
.android-app .list-inline:last-child li:nth-child(2) img{
height:20px;
}
.android-options .col-sm-6 {
 min-height: 265px;
 padding: 28px;
}
.sports-news ul {
  width: 100%;
}
.sports-news .panel-body {
  padding:40px 15px 40px 15px;
}
.btn-blue {
  font-size:18px !important;
  padding: 6px 15px 6px 15px !important;
}
.btn-voilet{
  font-size:18px !important;
  padding: 6px 15px 6px 15px !important;
}

.features-operator-section .panel-body {
    padding: 15px;
}
.features-operator-section .panel-body .list-inline > li img{
width:100%;
}
.credit-details .panel-body {
    padding: 15px;
}
.dst_country_list + p {
    margin-top: 20px;
	font-size:12px;
	text-align:left;
}
.support-overview-section .region-vectone-support-overview-block .panel-body {
    min-height: 145px;
}
.support-overview-section .views-row img {
    display: inline-block;
    height: 110px;
    width: auto;
}
.support-overview-section .views-row a {
    font-size: 18px;
}
.support-overview-section .region-vectone-support-overview-block .panel-heading span {
    height:30px;
}
.support-overview-section .views-row {
    width:100%;
    margin-left:0;
    margin-right:0;
}
.panel-support .field-name-field-support-icons {
    width: 100%;
    display: block;
    vertical-align: middle;
	text-align:center;
}
.panel-support .field-type-text-with-summary {
    font-size: 14px;
}
.panel-support .panel-body {
    padding: 30px;
}
#webform-section .field-name-field-support-icons {
    width: 100%;
    display: block;
    text-align: center;
}
#webform-section .field-name-field-support-icons img {
    display: inline-block;
	height:90px;
	width:auto;
}
.write .panel-body {
    padding: 15px;
}
.contact .panel-body {
    padding: 15px;
}
.contact p {
    font-size: 14px;
}
.write p {
    font-size: 14px;
}
.webform-client-form .form-item {
width: 100%;
}
.webform-client-form .form-actions {
    text-align: center;
}
#webform-section .field-name-field-support-description {
    width: 100%;
}
.topup-locations p{
font-size:14px;
}
.faq-section .ui-state-default a, .faq-section .ui-state-default a:link, .faq-section .ui-state-default a:visited {
    font-size: 14px;
}
.faq-section .ui-accordion .ui-accordion-header {
    padding: 15px;
}
.faq-section .faqfield-answer {
    font-size: 14px;
}
.faq-section .field-type-text-with-summary {
    font-size: 14px;
}
.faq-section .ui-accordion .ui-accordion-content {
    padding: 20px;
}
.faq-section .field-name-field-support-icons img {
    height: 90px;
    width: auto;
}
.legal-pages .field-type-text-with-summary .field-item p {
    font-size: 14px;
    word-wrap: break-word;
}
.legal-pages .field-type-text-with-summary .field-item p strong {
    font-size: 14px;
}
.legal-pages .page-header {
    font-size:24px !important;
    padding-left:0px;
}
.legal-pages .field-type-text-with-summary .field-item strong {
    font-size: 16px;
}
#sitemap-section ul.menu > li {
    width:100%;
}
.view-delight-mobile-sitemap {
    background: #ededed;
    padding:25px;
}
.legal-pages .block-title {
    font-size: 24px;
}
#sitemap-section .panel-body {
    padding: 15px;
}
.legal-pages .field-type-text-with-summary .field-item {
    font-size: 14px;
}
#header_banner.banner-cheapcall-rates .vm-title h1 {
    font-size: 24px;
}
#header_banner.banner-cheapcall-rates .vm-title strong {
  font-size: 14px;
}
.seo-sim-section {
   padding:20px 0 20px 0;
}
.seo-sim-section .form-control{
    font-size:12px;
    height: 30px;
 }
.seo-sim-section .panel-body {
    padding: 20px;
}
.seo-sim-section .freesim-order-form .list-inline > li:first-child {
    font-size: 10px;
}
.cheap-calls-rate li h1 {
    font-family: "helvitca-bold";
    font-size: 24px;
    margin-top: 0;
}
.cheapcalls-details p {
    font-size: 14px;
}
.read-more-cheapcalls p {
    font-size: 14px;
}
.cheap-call-body-content-section .panel-body {
    padding: 15px;
}
.supporting-county-section h3 {
    font-size: 18px;
}
.top-data-bundle-section .field-name-field-bundle-price {
    font-size: 50px;
}
.top-data-bundle-section .field-name-field-validity {
    padding:0;
}
.offers-section .offers-overview-section .views-row a {
    font-size: 20px !Important;
}
.offers-section .offers-overview-section .panel-heading span {
    height: auto;
}
.offers-section .offers-overview-section .panel-footer {
    min-height: inherit;
    padding: 15px 20px 15px 20px;
}
.offers-section .offers-overview-section .panel-body {
    min-height: inherit;
    padding: 20px 10px 20px 10px;
}
.offers-section .offers-overview-section .panel-footer p {
    font-size: 14px;
}
.features-operator-section p {
    font-size: 14px;
}
.title-head {
    font-size: 20px;
}
.features-section p {
    font-size: 14px;
}
#div-operators-list li {
    width:100%;
	min-height: auto;
}
.landline-mobile .form-radios {
    padding: 25px;
}
.landline-mobile .form-type-radio label {
    font-size: 18px;
}
.freesim-order-submit {
    padding-bottom: 20px;
}
.panel-llom-page .panel-body {
    padding: 15px;
}
.features-section .supporting-county-section ul li {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 85px;
}
.supporting-county-section ul li span {
    font-size: 12px;
}
.refer-options {
    padding: 15px;
}
.refer-options > h2 {
    font-size: 16px;
}
.panel-llom-page h1 {
    font-size: 18px;
}
.llom-selection .nav-tabs > li > a,.llom-selection .nav-tabs > li > a:hover {
 display:block;
margin-bottom:15px !important;
}
.llom-selection  img{
margin-bottom:15px;
}
.llom-selection .nav-tabs {
    margin-bottom: 10px;
}
}
@media (max-width:767px) and (min-width:480px){
#header_banner {
    position: relative;
	height: 325px;
}
#header_banner img {
    margin: 0 auto;
    display: block;
    width: inherit;
    position: absolute;
    right: 0;
    height: 375px;
    z-index: 0;
}
.vm-title h1 {
    font-size: 30px;	
    margin-top: 35px;
}
.vm-title strong {
    font-size: 20px;
    margin-top: 60px;
}
.vm-title p {
    font-size: 12px;
}
.vm-title {
    width: 70%;
    padding-left: 2%;
}
 .bottom-bundle-section, .body-bundle-section {
    float:none;
    width: auto;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section .field {
    padding-top: 0;
}
.body-bundle-section article {
  display:table;
  width:100%;
  table-layout:fixed;
}
.body-bundle-section article p {
font-size:12px;
color:#29235c;
font-family: 'helvitca-regular';
margin-top:10px;
}
.body-bundle-section .content {
    line-height: 1;
    display:table-cell;
    width: auto;
	vertical-align:top;
	position:relative;
}
.bottom-bundle-section{
display:none;
}
.top-bundle-section .vectone-customer span{
font-size:10px;
color:#fff;
font-family: 'helvitca-light';
}
.top-bundle-section .vectone-customer{
line-height: 15px;
}
.top-bundle-section .content{
line-height: 1;
}
.top-bundle-section .vectone-customer .field{
font-size:14px;
line-height: 1;
}
.top-bundle-section .field {
padding:0;
}
.body-bundle-section span {
 display:block;
}
.body-bundle-section .field {
 font-size: 22px;
}
.top-bundle-section .field {
 font-size:6vw;
}
.body-bundle-section .content +.content:before {
content:'+';
color: #29235c;
font-size:4vw;
font-family: 'helvitca-bold';
position:absolute;
left:-7px;
top:33%;
margin-top:-15px;
}
.top-bundle-section {
    width: 110px;
	float:none;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section article p {
    text-indent: -10%;
}
.body-bundle-section .field {
    font-size:4vw;	
}
.international-rates .form-item {
    width: 415px;
}
.international-rates h3 {
    font-size: 14px;
}
.international-rates .list-inline > li {
    padding-right: 7px;
    padding-left: 7px;
}
#div-international-rates h2 {
    font-size:18px;
}
#div-international-rates .panel-body {
    padding: 15px;
}
.home-international-calls h1 {
  margin-bottom:15px;
}

}
@media (min-width:1367px){
 #header_banner.banner-cheapcall-rates > img{
 width:auto;
 }
}
@media (max-width:1366px) and (min-width:1200px){
#header_banner {
    position: relative;
}
#header_banner img {
    margin: 0 auto;
    display: block;
    width: inherit;
    position: absolute;
    right: 0;
    height: 430px;
    z-index: 0;
}
#header_banner.banner-cheapcall-rates {
    height: 570px;
}
#header_banner.banner-cheapcall-rates img {
    height: 570px;
}
}
@media (max-width:1199px) and (min-width:992px){
.vm-title {
    width: 60%;
    padding-left: 2%;
}
.vm-title strong {
    margin-top: 35px;
}
.vm-title p {
    font-family: "helvitca-light";
    color: #fff;
    margin-top: 30px;
}
#header_banner {
    position: relative;
    height: 375px;
    overflow: hidden;
}
#header_banner img {
    margin: 0 auto;
    display: block;
    width: inherit;
    position: absolute;
    right: 0;
    height: 375px;
    z-index: 0;
}
#header_banner.banner-cheapcall-rates {
    height: 500px;
}
#header_banner.banner-cheapcall-rates img {
    height: 500px;
}
.cheap-calls-rate li h1 {
    font-size: 54px;
}
}